<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
% include('style.html')
    %include('meta.html')
</head>
<body>
% include('back.html')
    <article>
        <form action="/car" method="post">
            <fieldset>
                <legend><h2>Uppfletting í bifreiðaskrá</h2></legend>
                <label><h3>Bílnúmer:</h3></label><input type="text" name="car" placeholder="AB-123" pattern="^([a-zA-Z]{2,3}[ -]?\d{2,3}|[a-zA-Z0-9]{2,6}|[a-zA-Z0-9]{1,5}[ -]?[a-zA-Z0-9]{1,5})$"><br>
                <input type="submit" value="Senda">
            </fieldset>

        </form>

    </article>
</body>
</html>